.primaryButton{
    text-decoration: none;
    display: inline-block;
    background: var(--button-gradient);
    box-shadow: var(--button-shadow);
    padding: 16px 24px;
    color: #FFFFFF;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}