#navigation{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 65px;
    background: var(--text-white);
    box-shadow: var(--primary-box-shadow);
    z-index: 1000;
}
.navInner{
      display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 1em;
}
.navLogo h1{
    cursor: pointer;
    font-family: var(--secondary-font);
    color: var(--heading-color);
}
.navToggle svg{
    cursor: pointer;
    width: 24px;
    height: 24px;
}