.main{
    padding: 1em;
    width: 100%;
}
.nftDetailsContainer{
    width: 100%;
    margin: 100px 0;
}
.nftDetailsContainerInner{
    margin: 0 auto;
    max-width: var(--site-max-width);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.nftDetailsContainerInner_detailsContainer{
    width: 100%;
}
.nftDetailsContainerInner_detailsContainer > h2{
    font-size: 40px;
    margin-bottom: 5px;
}
.nftDetailsContainerInner_detailsContainer > p{
    margin: 50px 0;
    width: 100%;
    line-height: 30px;
}
.nftDetailsContainerInner_detailsContainer  table{
    border-collapse: collapse;
    width: 100%;
}
.nftDetailsContainerInner_detailsContainer  table tr{
    /* line-height: 10px; */
}
.nftDetailsContainerInner_detailsContainer  table tr th{
    padding-top: 12px;
    padding-bottom: 12px;
    background: var(--heading-color);
    border: none;
}
.nftDetailsContainerInner_detailsContainer  table tr td{
    font-size: 16px;
    padding: 8px;
}
  .nftDetailsContainerInner_detailsContainer  table tr th,
  .nftDetailsContainerInner_detailsContainer  table tr td{
    color: var(--text-color);
}